* {
    font-family: 'Inter', sans-serif;
}

.accent-red {
    color: #FF1F3D;
}

.red-bg {
    background-color: #FF1F3D;
}

.accent-blackk {
    color: #252525;
}

.black-bg {
    background-color: #252525;
}

.accent-grey {
    color: rgba(37, 37, 37, 0.15);
}

.grey-bg {
    background-color: rgba(37, 37, 37, 0.15);
}

/* defalult css done */


.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    padding-bottom: 2.5rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1rem;
}

.video-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

h3.post-title {
    font-size: 17px;
    font-weight: 700;
}

.video-info div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

/* normal css end */

@media screen and (max-width: 769px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 426px) {
    .logo {
        width: 100%;
    }

    header {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}